
<div class="modal-header">
    <h3 class="modal-title">Envoyer un mail</h3>
</div>

<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label">
                De
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">{{mail.envoyeur.username}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                A
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    <span ng-repeat="destinataire in mail.destinataires">
                        {{destinataire.username}}
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Objet
            </label>
            <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="mail.objet" placeholder="Objet du mail">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Message
            </label>
            <div class="col-sm-8">
                <textarea class="form-control" ng-model="mail.message"></textarea>
            </div>
        </div>
    </form>
    <div class="alert alert-warning" role="alert" ng-if="message" ng-bind-html="message"></div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="!mail.objet || !mail.message">Valider</button>
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>