div.container
    h1 Rechercher une table
    div
        h2 Filtres
        div.row
            div.col-sm-6
                h3 Frequences
            div.col-sm-6
                h3 Statuts

    div(ng-if="resultats.length > 0")