div.container
    h1 Tables
    div
        h2 Tables masterisees
        div(ng-repeat='tableForMJ in tablesForMJ')
            mjtables-table(tableid='tableForMJ.id')
    div
        h2 Tables participees
    div
        h2 Autres tables

