doctype html
html
    head
        title Gestionnaire de tables de Jeu de Rôle
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap-theme.css')
    body(ng-app='mjTables')
        <div ui-view></div>
        script(src='/node_modules/lodash/index.js')
        script(src='/node_modules/moment/moment.js')
        script(src='/node_modules/angular/angular.js')
        script(src='/node_modules/angular-route/angular-route.js')
        script(src='/node_modules/angular-ui-router/build/angular-ui-router.js')
        script(src='/node_modules/angular-moment/angular-moment.js')
        script(src='/node_modules/angular-cookies/angular-cookies.js')
        script(src='/node_modules/restangular/dist/restangular.js')
        script(src='/scripts/app.js')
        script(src='/scripts/app_config.js')
        script(src='/scripts/pages/index/index_controller.js')
        script(src='/scripts/pages/index/index_route.js')
        script(src='/scripts/services/user_service.js')