doctype html
html
    head
        title Gestionnaire de tables de Jeu de Rôle
        meta(content='text/html',charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap-theme.css')
        link(rel='stylesheet', href='/node_modules/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='/node_modules/textangular/dist/textAngular.css')
        link(rel='stylesheet', href='/styles/main.css')
    body(ng-app='mjTables')
        mjtables-header
        <div class="container-fluid container-principal" ui-view></div>
        script(src='/node_modules/lodash/index.js')
        script(src='/node_modules/moment/moment.js')
        script(src='/node_modules/angular/angular.js')
        script(src='/node_modules/angular-route/angular-route.js')
        script(src='/node_modules/angular-ui-router/build/angular-ui-router.js')
        script(src='/node_modules/angular-moment/angular-moment.js')
        script(src='/node_modules/angular-cookies/angular-cookies.js')
        script(src='/node_modules/restangular/dist/restangular.js')
        script(src='/node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js')
        script(src='/node_modules/angular-sanitize/angular-sanitize.js')
        script(src='/node_modules/jquery/dist/jquery.js')
        script(src='/node_modules/bootstrap/dist/js/bootstrap.js')
        script(src='/node_modules/textangular/dist/textAngular-rangy.min.js')
        script(src='/node_modules/textangular/dist/textAngular-sanitize.min.js')
        script(src='/node_modules/textangular/dist/textAngular.min.js')

        script(src='/scripts/app.js')
        script(src='/scripts/app_config.js')
        script(src='/scripts/pages/index/index_controller.js')
        script(src='/scripts/pages/index/index_route.js')
        script(src='/scripts/pages/games/gameOverview_route.js')
        script(src='/scripts/pages/games/gameOverview_controller.js')
        script(src='/scripts/pages/games/gamesOverview_route.js')
        script(src='/scripts/pages/games/gamesOverview_controller.js')
        script(src='/scripts/pages/register/register_controller.js')
        script(src='/scripts/pages/register/register_route.js')
        script(src='/scripts/pages/account/account_route.js')
        script(src='/scripts/pages/account/account_controller.js')
        script(src='/scripts/pages/tables/tablesOverview_route.js')
        script(src='/scripts/pages/tables/tablesOverview_controller.js')
        script(src='/scripts/pages/tables/tableOverview_route.js')
        script(src='/scripts/pages/tables/tableOverview_controller.js')
        script(src='/scripts/pages/user/user_route.js')
        script(src='/scripts/pages/user/user_controller.js')
        script(src='/scripts/components/header/header_controller.js')
        script(src='/scripts/components/header/header_directive.js')
        script(src='/scripts/components/table/table_directive.js')
        script(src='/scripts/components/table/table_controller.js')
        script(src='/scripts/components/table/modal/deleteTableModal_controller.js')
        script(src='/scripts/components/table/modal/editTableModal_controller.js')
        script(src='/scripts/components/game/game_directive.js')
        script(src='/scripts/components/game/game_controller.js')
        script(src='/scripts/components/mails/mailModal_controller.js')
        script(src='/scripts/components/game/modal/editGameModal_controller.js')
        script(src='/scripts/components/textAngular/textAngular_service.js')
        script(src='/scripts/services/user_service.js')
        script(src='/scripts/services/table_service.js')
        script(src='/scripts/services/game_service.js')
        script(src='/scripts/services/status_service.js')
        script(src='/scripts/services/frequence_service.js')
        script(src='/scripts/services/connexion_service.js')