<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-8">
                <strong>{{table.table_nom}} </strong>
                (<a ui-sref="game({id: table.game_id})">{{table.game_nom}}</a>)
                <span> par</span>
                <a ui-sref="#"> {{table.mj_username}}</a></div>
            <div class="col-sm-4 text-right">
                <a href="" ng-if="isAdmin()" ng-click="openModalEdit()">Editer</a>
                <span> {{table.status_libelle}}</span></div>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <p>{{table.description}}</p>
            <p>{{table.frequence_libelle}}</p>
            <p>{{table.nbJoueurs}} / {{table.nbJoueursTotal}}</p>
        </div>
        <div ng-if="!isAlreadyPlayer() && !isAdmin()">
            <button class="btn btn-primary" ng-click="rejoindreTable()">Joindre la table</button>
        </div>
        <div class="alert alert-danger" role="alert" ng-if="messageErreur">
            {{messageErreur}}
        </div>
        <div class="alert alert-success" role="alert" ng-if="messageSuccess" ng-bind-html="messageSuccess"></div>
    </div>
    <table class="table" ng-if="players.length > 0">
        <thead>
        <tr>
            <th>Joueur</th>
            <th ng-if="isAdmin() || isAlreadyPlayer()">Quitter / Retirer</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in players">
            <td><a ui-sref="#">{{player.username}}</a></td>
            <td ng-if="isAdmin() || isAlreadyPlayer()"><a href="#" class="fa fa-times-circle fa-2x" ng-if="isAdmin() || ConnexionService.getCurrentUserId() == player.id" ng-click="removePlayer(player.id)"></a></td>
        </tr>
        </tbody>
    </table>
    <div class="text-center" ng-if="players.length == 0 && !isAdmin() && !isAlreadyPlayer()">
        Pas encore de joueur.
        <a href="#" ng-click="rejoindreTable()">Rejoignez la table.</a>
    </div>
    <div ng-if="isAdmin() || isAlreadyPlayer()">
        <button class="btn btn-primary">Envoyer un message à la table</button>
        <button class="btn btn-danger" ng-if="isAdmin()" ng-click="openModalDelete()">Supprimer table</button>
    </div>
</div>